$light-background-color: #f4f8fa;
$salmon-color: #ffdbcb;
$salmon-hover-color: #f2d0c1;
$text1-color: #595d7b;
$secondary-hover-color: #f3f5fe;
$secondary-on-click-color: #e8eaf2;
$button-primary-color: #423c66;
$button-primary-hover-color: #645d93;
$button-primary-pressed-color: #241e47;
$button-secondary-border-color: #595d7b;
$button-secondary-hover-color: rgba(178, 167, 244, 0.1);
$button-secondary-pressed-color: rgba(178, 167, 244, 0.25);
$button-secondary-text: #595d7b;
$banner-background-color: #f4f8fa;
$border-alternative-color: #e9eef2;
